/* This container includes our table and our canvas for the Tic Tac Toe game */
.center-container {
    position: relative;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 4px solid rgba(252, 169, 3, 0.8);
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
    /* filter: drop-shadow(0 0 5px rgba(252, 169, 3, 0.8)); */
}

canvas {
    position: absolute;
    top: 0;
    z-index: 10;
    pointer-events: none;
}