@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

:root {
    --main-font: 'Gloock', serif;
}

* {
    box-sizing: border-box;
}

h1,
h2 {
    font-family: var(--main-font);
    text-align: center;
}

h2 {
    font-size: 40px;
}

h3 {
    font-family: var(--main-font);
    font-size: 30px;
    text-align: left;
}

/* BODY SECTION --> Primarily for overall page fade-in with accompanying JavaScript */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    opacity: 1;
    transition: opacity 1s ease-in;
}

body.fade-in {
    opacity: 0;
}

/*HEADER SECTION*/

.shine {
    background-image: linear-gradient(120deg,
            #000 40%,
            #a8a8a8 50%,
            #000 60%);
    background-size: 200% 100%;
    background-position: -100% 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine-move 2s linear infinite;
}

@keyframes shine-move {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

/*add transition properties in video*/
.header {
    padding-top: 150px;
    font-size: 150px;
    transition: .5s ease;
}

/*Add header-scrolled class in video*/
.header-scrolled {
    font-size: 100px;
    transition: .5s ease;
}

.car-title {
    font-size: 30px;
    display: none;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.column {
    width: 33%;
    margin: 40px;
}

img {
    width: 100%;
    height: auto;
    cursor: pointer;
    box-shadow: 20px 20px 20px -9px rgba(60, 60, 60, 0.35),
        10px 10px 10px -9px rgba(0, 0, 0, 0.5);
}

.faq {
    width: 80%;
    padding: 50px 100px 100px;
    border: 2px solid black;
    margin-bottom: 250px;
}

.question {
    padding: 5px 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.answer {
    display: none;
    padding: 40px 20px;
}

#contact-button {
    position: sticky;
    float: right;
    z-index: 10;
    bottom: 3vh;
    right: 3vw;
    border: 3px solid black;
    padding: .5vh 1vw;
    font-family: var(--main-font);
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}

#contact-form {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 20px;
    background-color: mintcream;
    z-index: 20;
    height: 60vh;
    width: 40vw;
    box-shadow: 10px 10px 15px -5px rgba(60, 60, 60, 0.35),
        5px 5px 10px -5px rgba(0, 0, 0, 0.5);
}

form {
    width: 80%;
}

#contact-form input,
#contact-form select {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
}

#contact-form textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    height: 150px;
}

#contact-form input[type="submit"] {
    width: auto;
    cursor: pointer;
}