/* Responsive YouTube video */
.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Override styling from custom.css for this page */
p {
    color: black;
}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {
  .renderCanvas {
    width: 960px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
  .renderCanvas {
    width: 720px;
  }

}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
  .renderCanvas {
    width: 540px;
  }
  /* Additional small screen styles */
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .renderCanvas {
    width: 100%;
  }
}