/* This is a BootStrap Mobile First design. */
/* Meaning your default styles/code in custom.css should be optimized for small screens */
/* These queries step up the size of elements in this script. */

/* BOOTSTRAP X-Small --> Phones (portrait) */
@media screen and (min-width: 576px) {
    #contact-form {
        width: 80vw;
        max-width: 100vw;
        box-sizing: border-box;
    }
}



/* BOOTSTRAP Small --> Tablets (portrait) */
@media screen and (min-width: 768px) {
    #contact-form {
        width: 80vw;
    }
}

/* BOOTSTRAP X-Large --> Desktops (landscape) */
@media screen and (min-width: 1200px) {
    #contact-form {
        width: 60vw;
    }

    .cf-my-details-col a, .cf-linked-in-col a {
    font-size: 1.2rem;
    }
}

/* BOOTSTRAP XX-Large --> Desktops (landscape) */
@media screen and (min-width: 1400px) {
    #contact-form {
        width: 60vw;
    }

    .cf-my-details-col a, .cf-linked-in-col a {
    font-size: 1.4rem;
    }
}

/* @media (min-width: 768px) and (max-width: 991.98px) { ... } */