/* Imported fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

/* VARIABLES */
/* ======================================================================= */
:root {
    --main-color: rgb(126, 133, 130);
    --main-color-accent: darkblue;
    --main-color-transparent: rgba(126, 133, 130, 0.8);
    --secondary-color: rgba(0, 0, 0, 1);
    --accent-color: rgb(36, 36, 36);
    --accent-text-color: rgb(255, 255, 255);

    --nav-bg-color: rgba(0, 0, 0, 1);
    --nav-std-accent: rgb(150, 105, 33);
    --nav-hover-accent: rgb(237, 192, 3);

    --main-font-family: 'Passion One', cursive;
    --secondary-font-family: 'Arial', sans-serif;
}

/* GLOBAL STYLES */
/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PRIMARY BACKGROUND AND SHOOTING STARS EFFECT */
/* ======================================================================= */
body {
    overflow: hidden; 
    margin: 0;
    padding: 0;
    height: 100%;
}

/* body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/EarthSpaceHorizon2.jpg);
    background-size: 100% 160%;
    background-position: center top;
    animation: animateBg 50s linear infinite;
    z-index: -1;
} */

.animated-background {
    position: fixed; /* Fixes it to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/EarthSpaceHorizon2.jpg'); /* Replace with your image path */
    background-size: 100% 160%;
    background-position: center top;
    /* Apply the animation */
    animation: animateBg 20s infinite alternate forwards ease-in-out;
    z-index: -1; /* Puts it behind the content */
}

@keyframes animateBg {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.stars {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
}

.stars::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(500px);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

.stars:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}
.stars:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.stars:nth-child(3) {
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.stars:nth-child(4) {
    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.stars:nth-child(5) {
    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.stars:nth-child(6) {
    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.stars:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.stars:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.stars:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.stars:nth-child(10) {
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}

/* NAVBAR */
/* ======================================================================= */
.navbar {
    background-color: var(--nav-bg-color);
    opacity: 1;
    border-bottom: 5px solid var(--nav-std-accent);
    height: 100px;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: yellow;
}

/* Specifically styles the Navbar title/brand */
.navbar-brand {
    color: var(--nav-std-accent);
    font-family: var(--main-font-family);
    font-size: 45px;
    padding-left: 30px
}

.navbar-brand:hover, .navbar-brand:focus {
    color: var(--nav-hover-accent);
}

.nav-link {
    color: var(--nav-std-accent);
    font-family: var(--main-font-family);
    font-size: 35px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: yellow;
}

/* Affects the hover state of the navbar links */
/* Sets the color of the link that has been clicked on; in other words, the active link */
.nav-link:hover, .nav-link:focus {
    color: var(--nav-hover-accent);
    text-shadow: 0 0 3px yellow;
}

/* Adjusts the left padding of the navbar links */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.5rem;
}

/* DROP DOWN MENU */
/* ======================================================================= */

/* Targets the drop down menu that contains the links for each movie title */
.dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.4);
    background-color: transparent;;
    padding: 0px; /* Removes Bootstraps's default padding from the dropdown menu */
}

/* Sets up the styling for the dropdown items within the dropdown menu */
.dropdown-item {
    color: var(--accent-color);
    font-family: var(--main-font-family);
    text-align: left;
    font-size: 30px;
    margin-left: 20px;
    padding-top: 15px; /* Adds padding to the top of each dropdown item */
    border-bottom: 2px solid rgb(117, 77, 13);
}

/* Changes the background color of the dropdown items on hover */
.dropdown-item:hover, .dropdown-item:focus {
    color: var(--accent-text-color);
    background-color: var(--main-color);
}

/* MOBILE MENU */
.navbar-toggler {
    border: none;
    transition: 0.5s ease;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) rgb(98,0,0);
    transition: 0.5s ease;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(237, 192, 3)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* BOTTOM STICKY CONTACT BUTTON & FORM STYLING */

#contact-button {
    position: sticky;
    float: right;
    z-index: 10;
    bottom: 3vh;
    right: 3vw;
    border: 3px solid black;
    padding: .5vh 1vw;
    font-family: var(--main-font);
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}

/* Shine effect for Contact Me text */
.shine {
    background-image: linear-gradient(120deg,
            #000 40%,
            #a8a8a8 50%,
            #000 60%);
    background-size: 200% 100%;
    background-position: -100% 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine-move 2s linear infinite;
}

@keyframes shine-move {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

#contact-form {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 20px;
    background-color: mintcream;
    z-index: 20;
    height: 60vh;
    width: 40vw;
    box-shadow: 10px 10px 15px -5px rgba(60, 60, 60, 0.35),
        5px 5px 10px -5px rgba(0, 0, 0, 0.5);
}

form {
    width: 80%;
}

#contact-form input,
#contact-form select {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
}

#contact-form textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    height: 150px;
}

#contact-form input[type="submit"] {
    width: auto;
    cursor: pointer;
}

/* FORMATTING FOR PORTFOLIO CONTENT SECTION */
/* ======================================================================= */
.scroll-pane {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
}

.scroll-section {
    height: 200vh;
    width: 100%;
    padding: 20px;
    border: 2px solid yellow;}


/* Center intro-text in the viewport and remove animation */
#intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 100;
    text-align: center;
    color: white;
    font-family: var(--main-font-family);
    background: none;
    animation: none !important;
}