html {
    font-family: 'Avenir Next', Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 100%;
    height: 60px;
    font-size: 40px;
}

input:focus {
    outline: none;
}

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

footer {
    background-color: aqua;
    border: 3px solid black;
    position: absolute;
    bottom: 0;
    width: 800px;
    box-sizing: border-box;
}